# 用法：
# 将本文件复制为 `.env`，并按下方说明填写各项变量。

# 如果你要开发多个插件，可以把 Zotero 可执行文件路径和
# profile 路径存入系统环境变量，这样本文件中就可以省略这两项。

# Zotero 可执行文件的路径。
# win32 下路径分隔符需转义为 `\\`。
# macOS 下路径为 `*/Zotero.app/Contents/MacOS/zotero`。
ZOTERO_PLUGIN_ZOTERO_BIN_PATH = /path/to/zotero.exe

# 用于开发的 profile 路径。
# 可通过 `/path/to/zotero.exe -p` 打开 profile 管理器来创建开发用 profile。
# 参见 https://www.zotero.org/support/kb/profile_directory
ZOTERO_PLUGIN_PROFILE_PATH = /path/to/profile

# 数据库所在目录。
# 留空时 Zotero 将使用默认数据目录启动。
# 参见 https://www.zotero.org/support/zotero_data
ZOTERO_PLUGIN_DATA_DIR =

# 自定义结束 Zotero 进程的命令。
# zotero-plugin 已内置各平台的命令，
# 若内置命令不满足需求，可修改本变量。
# ZOTERO_PLUGIN_KILL_COMMAND = 

# GitHub Token
# 供 release-it 自动创建 release 并上传附件使用
# GITHUB_TOKEN =
